body {
	background-color: #2a2929;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	color: #fff;
	margin-bottom: 80px;
}

.list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list__link {
	border-style: solid;
	border-color: rgb(75, 178, 71);
	border-width: 6px 20px;
	border-radius: 4px;
	background: rgb(75, 178, 71);
	font-size: 18px;
	font-family: Tahoma;
	font-weight: normal;
	color: rgb(255, 255, 255);
	transition: all 0.3s;
}

.list__link:hover {
	border-color: rgb(99, 207, 95);
	background: rgb(99, 207, 95);
}
